<form [formGroup]="loginForm" (submit)="login()" auutocomplete="new-password" >
<h1>Hello Again!</h1>

<div class="form-control">
  <label for="email">Email</label>
  <input formControlName="email"
   id="email" autocomplete="new-password" type="email">
</div>
<div class="form-control">
  <label for="password">Password</label>
  <input formControlName="password"
   id="password" autocomplete="new-password" type="password">
</div>
<div class="form-checkbox">
<input type="checkbox" class="box">
<label>Remember Me</label>
<p class="recovery">Recovery Password</p>
</div>

<button type="submit">Login </button>

<div class="">
<p>Don't have an account yet? <a href="">Sign Up</a></p>
</div>
</form>

